@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    user-select: none;
  }
  
  canvas {
    border: 1x solid #0a3cda;

  }